<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /php/PHP2/trai-cay/
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
